extends ../layout

block append header
	link(href="/css/froala/font-awesome.min.css" rel="stylesheet" type="text/css")
	link(href="/css/froala/froala_editor.min.css" rel="stylesheet" type="text/css")
	style.
		.img-container {
			position: relative;
			height: 140px;
			width: 200px;
			float: left;
		}
		img.img-thumbnail {
			max-height: 140px;
			margin: 10px;
		}
		.removeImage {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.textarea, .froala-element {
			width: 100%;
			height: 200px;
			font-size: 14px;
			line-height: 18px;
			border: 1px solid #dddddd;
			padding: 10px;
		}

block append scripts
	script(src="/js/plugins/underscore/underscore-min.js")
	script(src="/js/froala/froala_editor.min.js")
	script(src="/js/froala/plugins/fonts/font_size.min.js")
	script(src="/js/froala/plugins/fonts/font_family.min.js")
	script(src="/js/froala/plugins/colors.min.js")
	script(src="/js/froala/plugins/block_styles.min.js")
	
	script.
		(function($) {
			var options = {
				inlineMode: false,
				buttons: [
					'undo',
					'redo' ,
					'bold',
					'italic',
					'sep',
					'alert',
					'clear',
					'insertHTML',
					'fontSize',
					'color',
					'strikeThrough',
					'align',
					'createLink',
					'insertImage',
					'fontSize'
				],
				imageUploadParam: 'file',
				imageUploadURL: '/admin/uploadWysi',
				imageButtons: ["linkImage", "replaceImage", "removeImage"],
				imageLink: true,
				imageUploadParams: {
					_id: '123'
				}
			};
			$('.sir1').editable(options)
			$('.sir2').editable(options)
		})($);
	
block content
	section.content
		.row
			.col-md-10
				.box.box-primary
					.box-header
						.box-title= "Редактирование статьи"
					form(role="form" enctype="multipart/form-data" method="post" action="/admin/articles")
						.box-body
							if article._id
								input(type="hidden" name="id" value=article._id)
							.form-group
								label(for="desc_title")= "Название:"
								input.form-control(type="text" name="desc_title" placeholder="Название статьи" value=article.desc_title)
							.form-group
								label(for="button_label")= "Текст кнопки:"
								input.form-control(type="text" name="button_label" placeholder="Текст кнопки" value=article.button_label)
							.form-group
								label(for="big_title")= "Заголовок внутри статьи:"
								input.form-control(type="text" name="big_title" placeholder="Заголовок внутри статьи" value=article.big_title)
							.form-group
								label(for="type")= "Тип:"
								select.form-control(name="type")
									option(value=2 selected=(article.type && article.type.id == 2))= "Кормление"
									option(value=3 selected=(article.type && article.type.id == 3))= "От специалиста"
							.form-group
								.checkbox
									label
										if article.active == false
											input(type="checkbox" name="active")
										else
											input(type="checkbox" name="active" checked)
										span= " Активен?"

							.form-group
								label(for="desc_shorttext")= "Краткий текст описания:"
								#toolbar(style="display: none;")
									li
										.btn-group
											a.btn.btn-default(tabindex='-1' unselectable='on' data-wysihtml5-command='left' title="Align left")
												i.glyphicon.glyphicon-picture
								textarea.sir1.textarea(
									name="desc_shorttext" 
									placeholder="Короткое описание статьи" 
									id="editor"
								)= article.desc_shorttext

							.form-group
								label(for="desc_text")= "Текст описания:"
								textarea.sir2.textarea(
									name="desc_text" 
									placeholder="Текст описания статьи" 
								)= article.desc_text

							.form-group
								label(for="image")= "Изображение:"
								if article.image
									div
										img.img-thumbnail(src="/img/uploads/#{article.image}")
								input(type="file" name="image")

							.form-group
								label(for="innerImage")= "Внутреннее изображение:"
								if article.innerImage
									div
										img.img-thumbnail(src="/img/uploads/#{article.innerImage}")
								input(type="file" name="innerImage")

							.form-group
								label(for="desc_image")= "Изображения (может быть более одного):"
								input(type="file" name="desc_image" multiple)
								if article.desc_image
									each img in article.desc_image
										.img-container
											img.img-thumbnail.clearfix(src="/img/uploads/#{img}")
											a.t-removeImage(href="/admin/articles/deleteimg/#{article._id}/#{img}")
												i.removeImage.glyphicon.glyphicon-remove
									.clearfix
								
						.box-footer
							button.btn.btn-primary(type="submit")= "Сохранить изменения"