extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/news/news.css")

mixin article(a)
	.article_block.white.force_height(class = (a ? 'type_' + a.type : 'type_{{type}}'), id = (a ? a._id : '{{_id}}'))
		.article_header
			.article_date.inline_adorable_container
				.adorable
					.adorable_table
						.adorable_cell
							div=(a ? a.month : '{{month}}')
							.day=(a ? a.day : '{{day}}')
							div=(a ? a.year : '{{year}}')
			
			.article_title.inline_adorable_container
				.adorable
					.adorable_table
						.adorable_cell
							.label.novito_nova=(a ? a.desc_title : '{{desc_title}}')
			
			//.warning.rounded.darkred
				.adorable_table
					.adorable_cell !
		
		if a
			if a.desc_image.length
				.desc_images
					div
						- each img, j in a.desc_image
							if a.desc_image_link
								a(href=a.desc_image_link)
									img.image(src = '/img/uploads/' + img, class = (j == 0 ? 'active' : ''))
							else
								img.image(src = '/img/uploads/' + img, class = (j == 0 ? 'active' : ''))
					- if (a.desc_image.length > 1)
						.desc_images_arrows
							.half.left
							.half.right
		else
			| {{#if desc_image.length}}
			.desc_images
				div
					| {{startIndex}}
					| {{#each desc_image}}
					| {{#if desc_image_link}}
					a(href='{{desc_image_link}}')
						img.image(src="/img/uploads/{{.}}", class='{{#firstElem}}active{{/if}}')
					| {{else}}
					img.image(src="/img/uploads/{{.}}", class='{{#firstElem}}active{{/if}}')
					| {{/if}}
					| {{/each}}
				| {{#showArrows}}
				.desc_images_arrows
					.half.left
					.half.right
				| {{else}}
				| {{/showArrows}}
			| {{/if}}
		
		.text
			.desc_shorttext!=(a ? a.desc_shorttext : '{{{desc_shorttext}}}')
			if a
				if a.desc_text
					.desc_text!=(a ? a.desc_text : '{{{desc_text}}}')
					.expand.uppercase
						.expand_button.rounded
						div Развернуть
			else
				| {{#if desc_text}}
				.desc_text {{{desc_text}}}
				.expand.uppercase
					.expand_button.rounded
					.expand_text
				| {{/if}}
		
		.article_footer.centered
			.share_text.border_boxed
				span Поделиться
			
			.share_buttons
				a(href = (a ? 'http://vk.com/share.php?url=' + current_url + '?utm_source=vkontakte&utm_medium=share&utm_campaign=light_viral_content&title=' + a.desc_title : 'http://vk.com/share.php?url={{url}}?utm_source=vkontakte&utm_medium=share&utm_campaign=light_viral_content&title={{desc_title}}'), target="_blank")
					.share_button
						img(src="/img/user/social/vk.png")
				
				a(href = (a ? 'http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st.comments=' + a.desc_title + '&st._surl=' + current_url + '?utm_source=Odnoklassniki&utm_medium=share&utm_campaign=light_viral_content' : 'http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st.comments={{desc_title}}&st._surl={{url}}?utm_source=Odnoklassniki&utm_medium=share&utm_campaign=light_viral_content'), target="_blank")
					.share_button
						img(src="/img/user/social/odnoklasniki.png")
				
				a(href = (a ? 'http://plus.google.com/share?url=' + current_url + '?utm_source=googleplus&utm_medium=share&utm_campaign=light_viral_content&title=' + a.desc_title : 'http://plus.google.com/share?url={{url}}?utm_source=googleplus&utm_medium=share&utm_campaign=light_viral_content&title={{desc_title}}'), target="_blank")
					.share_button
						img(src="/img/user/social/google.png")
				
				a(href = (a ? 'http://www.facebook.com/share.php?u=' + current_url + '?utm_source=facebook&utm_medium=share&utm_campaign=light_viral_content&title=' + a.desc_title : 'http://www.facebook.com/share.php?u={{url}}?utm_source=facebook&utm_medium=share&utm_campaign=light_viral_content&title={{desc_title}}'), target="_blank")
					.share_button
						img(src="/img/user/social/facebook.png")
				
				a(href = (a ? 'http://twitter.com/home?status=' + a.desc_title + '+' + current_url + '?utm_source=twitter&utm_medium=share&utm_campaign=light_viral_content' : 'http://twitter.com/home?status={{desc_title}}+{{url}}?utm_source=twitter&utm_medium=share&utm_campaign=light_viral_content'), target="_blank")
					.share_button
						img(src="/img/user/social/twitter.png")

mixin articles_stache()
	.articles_left
		| {{#each articles.left}}
		mixin article()
		| {{/each}}
	
	.articles_right
		| {{#each articles.right}}
		mixin article()
		| {{/each}}

block append content
	#news.content
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		.type_filter
			.type_block
				.adorable_table
					.adorable_cell
						.show.novito_nova Показать:
			
			.type_block
				.adorable_table
					.adorable_cell
						span.choose_type.all.rounded(class=(params.type ? '' : 'active')) Все
			
			.type_block
				.adorable_table
					.adorable_cell
						span.choose_type.news.rounded(data-type='0', class=(params.category == 0 ? 'active' : '')) Новости
			
			.type_block
				.adorable_table
					.adorable_cell
						span.choose_type.actions.rounded(data-type='1', class=(params.category == 1 ? 'active' : '')) Акции
		
		#articles_container
			.articles_left
				- each a, key in articles.left
					mixin article(a)
			
			.articles_right
				- each a, key in articles.right
					mixin article(a)
		
		.refresh_articles.adorable_table.rounded
			.adorable_cell
				img(src="/img/user/news/refresh.png")

block append scripts
	script(src="/js/plugins/can/can.js")
	script(src="/js/plugins/moment/moment-with-langs.js")
	script.
		var articles = !{JSON.stringify(articles)};
	script#articles_tmpl(type="text/mustache")
		mixin articles_stache()
	script(src="/js/user/news/news.js")