extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/product/product.css")

block append content
	.content.force_height
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		#product_container
			.product_left.border_boxed
				.label.novito_nova #{product.title}
				.text !{product.text}
				.text_label Состав:
				.text #{product.composition}
				.text_label Условия хранения:
				.text #{product.storage_conditions}
				.text_label Рекомендации к употреблению:
				.text #{product.recommended}
				if product.certificate
					.certificates_container
						- each c, key in product.certificate
							.certificate.adorable_table
								.adorable_cell
									img(src = '/img/uploads/' + c.image, title = c.name)
					
				.left_button.adorable_table
					.adorable_cell
						a(href='/products')
							button.middle_button.blue.uppercase Вернуться в каталог
			
			.product_right.white
				.right_image
					img(src = (product.image ? '/img/uploads/' + product.image : '/img/no_photo.png'))
				
				.right_footer
					.half
						.adorable_table
							.adorable_cell
								.top #{product.volume.formatted}
								.bottom объем
					
					.half
						.adorable_table
							.adorable_cell
								.top #{product.age.title}
								if product.age.level < 12
									- var age = 'мес.'
								else
									- var age = 'лет'
								.bottom #{age}


block append scripts
	