extends layout

block append header
	link(rel="stylesheet" href="/css/user/main.css")

block content
	#slider_container.slider.darkblue.adorable_container
		.slides.adorable(u='slides')
			- each g, key in gallery
				div
					- var src = '/img/user/banner/' + g.img
					img(src=src)
					.text
						.adorable_table
							.adorable_cell
								.top_label !{g.top_label}
								.label.novito_nova !{g.label}
								a.link.lightblue_font(href=g.link.href) !{g.link.title}
		
		.jssorb12(u='navigator')
			div(u='prototype', class='prototype rounded ')
		span(u='arrowleft', class='jssora21l ')
		span(u='arrowright', class='jssora21r ')
		
		include ../helpers/user/live_program/live_program
		include ../helpers/user/join_tour/join_tour
	
	.content
		.left.border_boxed.white
			.content_block
				.adorable_table
					.adorable_cell
						.top_label А у нас
						.label.novito_nova.dark_font
							| Сегодня
							br
							| в меню
						a(href="/products")
							button.blue Еще
			
			- each p, key in mainPageProducts
				a(href = '/product/' + p._id)
					.content_block
						.adorable_table
							.adorable_cell
								if p.image
									- var src = '/img/uploads/' + p.image
								else
									- var src = '/img/no_photo.png'
								
								img.product_img(src=src)
								.product_label #{p.title}
		
		.right.border_boxed.green.adorable_table
			.adorable_cell
				.label.novito_nova
					| Что малышу
					br
					| для счастья надо?
				
				.top_label
					| Узнайте через
				
				.count
					- each d, key in daysArray
						.number
							span #{d}
				
				.top_label #{declension}
				
				a(href="/signup")
					button.middle_button.yellow Зарегистрироваться

block append scripts
	script(src="/js/plugins/slider/jssor.core.js")
	script(src="/js/plugins/slider/jssor.utils.js")
	script(src="/js/plugins/slider/jssor.slider.js")
	script(src="/js/user/main.js")