.server_message.message.inline_adorable_container
	.adorable
		- var topClass = 'message_top adorable_table'
		
		if message
			- topClass += ' blue'
		else
			- topClass += ' red'
		
		div(class=topClass)
			.adorable_cell
				- var msg = messageLabel || 'Ошибка'
				.label.novito_nova.white_font !{msg}
				
				- var msg = err || message
				.top_label.non_uppercase.dark_font !{JSON.stringify(msg)}
				
				- if (!err)
					.top_label.white_font Ждем вас в гости!
		
		- var bottomClass = 'message_bottom adorable_table'
		
		if message
			- bottomClass += ' darkblue'
		else
			- bottomClass += ' darkred'
		
		- var darkblue_font = 'darkblue_font'
		- var darkred_font = 'darkred_font'
		
		div(class=bottomClass)
			.adorable_cell
				- var btnClass = 'middle_button white uppercase bold close'
				
				if message
					- btnClass += ' ' + darkblue_font
				else
					- btnClass += ' ' + darkred_font
				
				button(class=btnClass) Вернуться
		
		- var btnClass = 'close_button close'
				
		if message
			- btnClass += ' ' + darkblue_font
		else
			- btnClass += ' ' + darkred_font
		
		div(class=btnClass) &times;