extends ../layout

block append header
	link(href="/css/admin/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css")
	link(href="/css/admin/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css")
	style.
		.popover-content span {
			font-weight: bold;
			font-size: 1.1em;
		}

		#export-form {
			width: 60%;
		}

		#export-form label {
			margin-left: 10px;
		}

		.t-page {
			margin-right: 10px;
			float: left;
			font-size: 140%;
		}

		a.current-page {
			color: red;
		}

		.overflowed {
			overflow-y: scroll;
		}
		#t-search {
			width: 30%;
			text-align: center;
			margin-bottom: 15px;
			margin-left: 15px;
		}

block append scripts
	script(src="/js/admin/plugins/daterangepicker/daterangepicker.js")
	script(src="/js/plugins/moment/moment.js")
	script(src="/js/admin/common/clients.js")

block content
	.panel.panel-default
		.panel-heading
			| Экспорт данных в Excel (.xlsx формат)
		.panel-body
			form#export-form(role="form" enctype="multipart/form-data" method="post" action="/admin/clients/export")
				.form-group
					input(type="radio" name="type" value="created_at" checked)
					label(for="created_at")= " Выборка по дате регистрации"
				.form-group
					input(type="radio" name="type" value="activated_at")
					label(for="activated_at")= " Выборка по дате активации"
				.form-group
					label(for="range") Диапазон выборки:
					.input-group
						.input-group-addon
							i.fa.fa-clock-o
						input#t-export-range.form-control.pull-right(type="text" name="range")
				.form-group
					input#t-export.btn.btn-success(type="submit" value="Экспортировать")
	.panel.panel-default
		.panel-heading
			| Страницы:
		.panel-body.t-pages-wrap
			- for(var i = 1; i <= Math.ceil(count / limit); i++)
				a(data-page="#{i}" href="#" class=(i == 1)?"current-page":"")
					span.t-page #{i}
	.panel.panel-default
		.panel-body.overflowed
			button.pull-left.btn.btn-default#t-show-all(type="button")= "Показать все"
			input.pull-right.form-control#t-search(placeholder="Введите часть имени или e-mail")
			button.pull-right.btn.btn-primary#t-do-search(type="button")= "Искать"
			table#client_list.table.table-striped.table-bordered.table-hover
				thead
					tr
						th ID
						th Логин
						th E-m@il
						th Дата регистрации:
						th Дата активации:
						th Тип:
						th Приглашение от:
						th Активен?
						th Подарок
						th Действия
				tbody
					- each u, index in clients
						- var content = "Имя: <span>" + u.fullName() + "</span><br/>Телефон: <span>" + u.phone + "</span><br/>Город: <span>" + (u.city?u.city.name:'-')  + "</span><br/>Улица: <span>" + u.street + "</span><br/>Номер дома: <span>" + u.house + "</span><br/>Квартира: <span>" + u.apartment + "</span><br/>Индекс: <span>" + u.postIndex + "</span><br/><br/>IP-адрес: <span>" + u.ip_address + "</span>";
						tr(data-id='#{u._id}')
							td #{index + 1}
							td.popovered(
								data-toggle="popover" 
								title="Детальная информация"
								placement="right"
								data-content= content
							)
								span #{u.login}
							td #{u.email}
							td #{u.created_at}
							td #{u.activated_at}
							td #{u.type}
							td
								if u.invited_by
									| #{u.invited_by.login}
								else
									| -
							td= (u.active?"Да":"Нет")
							td
								input.t-status(type="checkbox" data-id=u._id checked=(u.status == true))
							td
								if u.newClient
									.dt-button
										button.btn.btn-primary.t-process(type="button" data-id=u._id data-loading-text="Ждите...")
											i.glyphicon.glyphicon-ok-circle
											span= " Обработать"
								.dt-button
									button.btn.btn-danger.t-remove(type="button" data-id=u._id data-loading-text="Ждите...")
										i.glyphicon.glyphicon-remove-circle
										span= " Удалить"