extends ../layout

block append header
	link(href="../css/admin/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css")
	style.
		.popover-content span {
			font-weight: bold;
			font-size: 1.1em;
		}

block append scripts
	script(src="../js/admin/plugins/datatables/jquery.dataTables.js" type="text/javascript")
	script(src="../js/admin/plugins/datatables/dataTables.bootstrap.js" type="text/javascript")
	script.
		$(function(){
			$('.popovered').popover({
				delay: {
					show: 500,
					hide: 100
				},
				trigger: 'hover',
				html: true,
				container: 'body'
			});

			$('#client_list').dataTable({
				'iDisplayLength': 25,
				'aLengthMenu': [25,50,100]
			});

			$('.t-process').on('click', function(){
				var self = this,
					btn = $(self),
					opts = {
						id: btn.data('id')
					};

				btn.button('loading');
				$.post('clients/process', opts, function(response){
					if(typeof response === 'string' || !response.result) {
						alert(response || "Произошла неизвестная ошибка.");
						return btn.button('reset');
					} 

					if(response.result == 0) {
						alert('Клиент уже обработан!');
					}

					btn.parent().fadeOut().remove();
				});
			});

			$('.t-remove').on('click', function(){
				if(!confirm("Вы точно хотите удалить этого пользователя?")) {
					return;
				}

				var self = this,
					btn = $(self),
					opts = {
						id: btn.data('id')
					};

				btn.button('loading');
				$.post('clients/remove', opts, function(response){
					if(typeof response.result === 'string' || !response.result) {
						alert(response.result || "Произошла неизвестная ошибка.");
						return btn.button('reset');
					} 

					$('#client_list').DataTable()
						.row(btn.parents('tr'))
						.remove()
						.draw();
				});
			});
		});

block content
	.panel.panel-default
		.panel-body
			table#client_list.table.table-striped.table-bordered.table-hover
				thead
					tr
						th Логин
						th E-m@il
						th Дата создания:
						th Тип:
						th Приглашение от:
						th Активен?
						th Действия
				tbody
					- each u, key in clients
						- var content = "Имя: <span>" + u.fullName() + "</span><br/>Телефон: <span>" + u.phone + "</span><br/>Город: <span>" + u.city + "</span><br/>Улица: <span>" + u.street + "</span><br/>Номер дома: <span>" + u.house + "</span><br/>Квартира: <span>" + u.apartment + "</span><br/>Индекс: <span>" + u.postIndex + "</span>";
						tr(data-id='#{u._id}')
							td.popovered(
								data-toggle="popover" 
								title="Детальная информация"
								placement="right"
								data-content= content
							)
								span #{u.login}
							td #{u.email}
							td #{u.created_at}
							td #{u.type}
							td
								if u.invited_by
									| #{u.invited_by.login}
							td #{u.active}
							td
								if u.newClient
									.dt-button
										button.btn.btn-primary.t-process(type="button" data-id=u._id data-loading-text="Ждите...")
											i.glyphicon.glyphicon-ok-circle
											span= " Обработать"
									.dt-button
										button.btn.btn-danger.t-remove(type="button" data-id=u._id data-loading-text="Ждите...")
											i.glyphicon.glyphicon-remove-circle
											span= " Удалить"