extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/article/article.css")
	script(type='text/javascript').
		(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=yb0bsJMIQ5tGXR/L4ufIEGUJZhrYwSaqtetSb48bIz3xjxhSuny6ThgP*g7U6pj4RnPjtksKfad60GFKgnZRvHEi7fh849MkMlQmVdahDFFi5xCzy2bIrVL4U*PrTyFwHv*0hTTeNMHoJeSA3LFrzZThTFdvRrXaK3ZLBJa44ac-';

block append content
	.article_container.content(id = 'article_' + article._id)
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		.article_content.force_height
			.article_left
				.article_big_title.green.adorable_table
					.adorable_cell
						- if (article.type.id == 3)
							img(src = '/img/uploads/' + article.image)
						.label.novito_nova #{article.big_title}
						- if (article.type.id == 2)
							if article.image
								img(src = '/img/uploads/' + article.image)
				
				if article.innerImage
					img.inner_image(src = '/img/uploads/' + article.innerImage)
				
				.article_text.white
					| !{article.desc_shorttext}
					| !{article.desc_text}
				
				.article_footer.centered.force_height
					.share_text.border_boxed
						span Поделиться
					
					.share_buttons
						a(href = 'http://vk.com/share.php?url=' + current_url + '&title=' + article.big_title, target="_blank")
							.share_button
								img(src="/img/user/social/vk.png")
						
						a(href = 'http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st.comments=' + article.big_title + '&st._surl=' + current_url, target="_blank")
							.share_button
								img(src="/img/user/social/odnoklasniki.png")
						
						a(href = 'http://plus.google.com/share?url=' + current_url + '&title=' + article.big_title, target="_blank")
							.share_button
								img(src="/img/user/social/google.png")
						
						a(href = 'http://www.facebook.com/share.php?u=' + current_url + '&title=' + article.big_title, target="_blank")
							.share_button
								img(src="/img/user/social/facebook.png")
						
						a(href = 'http://twitter.com/home?status=' + article.big_title + '+' + current_url, target="_blank")
							.share_button
								img(src="/img/user/social/twitter.png")
			
			- if (article.type.id == 2)
				.article_right.did_you_know
					.dyk_topper.adorable_table
						.adorable_cell
							.label.novito_nova Знаете ли<br>вы, что...?
						
						.dyk_question.rounded.darkred
							.adorable_table
								.adorable_cell ?
						
					.dyk_container
						.dyk_block.dyk_1.white.active
							.dyk_image
								img(src="/img/user/did_you_know/dyk_1.jpg")
							.dyk_text Мы обогащаем йогурт олигофруктозой – пребиотиком, который является природной средой развития собственной микрофлоры пищеварительного тракта малыша и способствует нормализации пищеварения.
						
						.dyk_block.dyk_2.white
							.dyk_image
								img(src="/img/user/did_you_know/dyk_2.jpg")
							.dyk_text Гордость «завода Агуша» - бактофуга, которая очищает молоко на уровне спор и бактерий.
						
						.dyk_block.dyk_3.white
							.dyk_image
								img(src="/img/user/did_you_know/dyk_3.jpg")
							.dyk_text «Завод Агуша» - единственное в Украине производство, на котором специально создана галерея, через окна которой посетители могут наблюдать за всеми процессами.
						
						.dyk_navigator.centered
							.dyk_button.dyk_1.rounded.active(data-dyk="1")
							.dyk_button.dyk_2.rounded(data-dyk="2")
							.dyk_button.dyk_3.rounded(data-dyk="3")
			
			- if (article.type.id == 3)
				.article_right
					.specialist
						.top
							.adorable_table
								.adorable_cell
									img.rounded(src="/img/user/food/doc.jpg")
									.top_label.author Автор статей
									.top_label.name
										| Матвиенко
										br
										| Ирина Николаевна
									.desc Кандидат медицинских наук, старший научный сотрудник отделения медицинских проблем  здорового ребенка и преморбидных состояний.
						
						.bottom
							.adorable_table
								.adorable_cell Институт Педиатрии Акушерства и Гинекологии Национальной Академии Медицинских Наук Украины
					
					.articles_right_container
						- each a, key in articles
							- if (a._id + '' != article._id + '')
								a(href = '/specialist/' + a.alias)
									.article_block.adorable_container
										.adorable
											.adorable_table
												- if (a.desc_image.length)
													.article_bg
														img(src = '/img/uploads/' + a.desc_image[0])
												.adorable_cell
													.plate_container
														.plate.green.border_boxed.adorable_table
															.adorable_cell
																.label.novito_nova #{strip_tags(a.big_title)}

block append scripts
	script(src="/js/plugins/can/can.js")
	script.
		var article = !{JSON.stringify(article)};
	script(src="/js/user/article/article.js")