extends ../layout

block append header
	link(rel="stylesheet" href="/js/plugins/select2/select2.css")
	link(rel="stylesheet" href="/css/user/tour/tour.css")

mixin add_child(i)
	.child_block(class!='child_block_#{i}', data-key!='#{i}')
		.half.left
			.adorable_table
				.adorable_cell
					.input
						input(type="text", name!="children[#{i}][name]", placeholder="Имя")
		
		.half.right
			.adorable_table
				.adorable_cell
					.input
						input.child_age(type="email", name!="children[#{i}][age]", placeholder="___ месяцев")

block append content
	#tour.content
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		.why_join_tour.white.adorable_container
			.adorable
				.why_join_left
					img.girl(src="/img/user/tour/girl.jpg")
					.title.adorable_table
						.adorable_cell
							.label.novito_nova А зачем ехать на экскурсию?
				
				.why_join_right.adorable_table.border_boxed
					.adorable_cell
						| Мы знаем, как для вас важно давать своему малышу только лучшее. 
						br
						br
						| Доверяя ТМ «Агуша», вы можете быть уверены, что выбираете безопасные, полезные и вкусные продукты питания.
						br
						br
						| Запишитесь на бесплатную экскурсию на «Завод Агуша» в г. Вишневое! Вы побываете на высокотехнологичном производстве, попробуете продукцию и сможете задать все интересующие вопросы.
		
		.program.red.border_boxed.adorable_table
			.adorable_cell
				.label.novito_nova Программа экскурсии на «завод Агуша» в г. Вишневое!
				
				.text Приезжайте в гости - будет здорово!
				
				.timetable
					.adorable_table
						.adorable_cell
							.time_block
								.adorable_table
									.adorable_cell
										.top 10:00
										.bottom Сбор у метро
							
							.time_block
								.adorable_table
									.adorable_cell
										.top 10:30
										.bottom Экскурсия
							
							.time_block
								.adorable_table
									.adorable_cell
										.top 12:00
										.bottom Фото с коровой
							
							.time_block
								.adorable_table
									.adorable_cell
										.top 12:15
										.bottom Дегустация
							
							.time_block
								.adorable_table
									.adorable_cell
										.top 13:00
										.bottom Трансфер к метро
		
		.map_container.adorable_container.green
			.adorable
				#tour_map
					
				
				.map_right.adorable_table
					.adorable_cell
						.label.novito_nova Найти нас очень просто!
						.text место сбора
						.text Киев, м.Академгородок
						img.marker(src="/img/user/tour/marker.png")
		
		.calendar_container.adorable_container
			.adorable
				.calendar_inside
					.calendar_block.steps
						#calendar_block_inside
							.steps_top_label.top_label.centered Всего три простых шага
							
							.step.step_1.adorable_table.border_boxed.active
								.adorable_cell
									.label.novito_nova Шаг 1
									.text Выберите в календаре удобную для вас и малыша дату
							
							.step.step_2.adorable_table.border_boxed
								.adorable_cell
									.label.novito_nova Шаг 2
									.text Заполните форму регистрации на экскурсию
							
							.step.step_3.adorable_table.border_boxed
								.adorable_cell
									.label.novito_nova Шаг 3
									.text В день экскурсии в 10 утра приезжайте к ст. м. Академгородок	
							
							.steps_navigator.centered
								.step_button.step_1.rounded.active(data-step="1")
								.step_button.step_2.rounded(data-step="2")
								.step_button.step_3.rounded(data-step="3")
					
					.calendar_block.closest
						#closest_block_inside
							- each t, key in tours
								.tour_block.adorable_table.border_boxed(id = 'tour_' + key, data-key=key, class=(key == 0 ? 'active' : ''))
									.adorable_cell
										- var date = moment(t.date, 'DD/MM/YYYY')
										if key == 0
											.closest_tour_label.novito_nova Ближайшая экскурсия
										
										.top_label #{date.calendar().split(' ', 2).join(' ')}
										.label.novito_nova #{date.format('D')}
										.top_label #{date.format('LL').split(' ', 3).splice(1, 2).join(' ')}
							
							.prev_tour
								img(src="/img/user/tour/arrow_left.png")
							
							.next_tour
								img(src="/img/user/tour/arrow_right.png")
					
					.calendar_block
						#calendar.border_boxed
		
		form#tour_form(method="POST", action="/tour/add_record")
			.form_topper
				.content
					.left
						.adorable_table
							.adorable_cell
								.label.novito_nova Форма регистрации на экскурсию
					
					.right
						.adorable_table
							.adorable_cell 
								.top_label #{tours[0].date}
				
			.form_inputs.force_height
				.content
					.half.left
						.adorable_table
							.adorable_cell
								.input
									input(type="text", name="firstname", placeholder="Имя")
					
					.half.right
						.adorable_table
							.adorable_cell
								.input
									input(type="email", name="email", placeholder="E-mail")
					
					.half.left
						.adorable_table
							.adorable_cell
								.input
									input(type="text", name="lastname", placeholder="Фамилия")
					
					.half.right
						.adorable_table
							.adorable_cell
								.input
									input#tour_phone(type="text", name="phone", placeholder="+3 8(___) ___ - __ - __")
					
					.half.left
						.adorable_table
							.adorable_cell
								.input
									input(type="text", name="patronymic", placeholder="Отчество")
					
					.half.right
						.adorable_table
							.adorable_cell
								.input
									input#city_select2(type="text", name="city", placeholder="Город проживания")
			
			.children_inputs.force_height
				.content
					#children_container
						mixin add_child(0)
					
					.more.centered
						.top_label
							span#add_child У меня есть еще детки
			
			.want_signup.adorable_table
				.adorable_cell
					| Да, я хочу зарегистрироваться на сайте «Агуша».
			
			.send_tour.adorable_table
				.adorable_cell
					button.white.middle_button.uppercase.bold(type="submit") Отправить
			
		div
			select(name="tour")
				option(value='') Выберите тур
				- each t, key in tours
					option(value=t._id) #{t.date}
		div
			input(type="text", name="firstname", placeholder="Имя")
			span.error
		div
			input(type="text", name="lastname", placeholder="Фамилия")
			span.error
		div
			input(type="text", name="patronymic", placeholder="Отчество")
			span.error
		div
			input(type="email", name="email", placeholder="E-mail")
			span.error
		div
			input(type="text", name="phone", placeholder="Телефон")
			span.error
		//div
			input(type="text", name="city", placeholder="Город проживания")
			span.error
		
		- for (var i = 0; i < 2; i++)
			div.child_item
				input(type="text", name="children[#{i}][name]", placeholder="Имя")
				span.error
				input(type="text", name="children[#{i}][gender]", placeholder="Пол")
				span.error
				input(type="text", name="children[#{i}][age]", placeholder="Возраст")
				span.error
				input(type="checkbox", name="children[#{i}][withParents]")
				span.error
		
		button(type="submit") Отправить

block append scripts
	script(src="/js/plugins/google/googlemaps_api.js")
	script(src="/js/plugins/google/googlemaps_main.js")
	script(src="/js/plugins/can/can.js")
	script(src="/js/plugins/modal/jquery.easyModal.js")
	script(src="/js/plugins/jquery.ui/core.js")
	script(src="/js/plugins/jquery.ui/datepicker.js")
	script(src="/js/plugins/jquery.ui/datepicker-ru.js")
	script(src="/js/plugins/validate/jquery.validate.js")
	script(src="/js/plugins/inputmask/jquery.inputmask.js")
	script(src="/js/plugins/placeholders/placeholders.min.js")
	script(src="/js/plugins/moment/moment.js")
	script(src="/js/plugins/select2/select2.js")
	script#add_child_tmpl(type='text/mustache')
		mixin add_child('{{i}}')
	script.
		var tours = !{JSON.stringify(tours)};
	script(src="/js/user/tour/tour.js")