extends ../../layout

block append header
	link(rel="stylesheet" href="/css/user/signup/success/success.css")

mixin add_client(i)
	.client_block(class!='client_block_#{i}', data-key!='#{i}')
		.half.left
			.adorable_table
				.adorable_cell
					.input
						input(type="text", name!="client[#{i}][login]", placeholder="Имя и фамилия друга")
		
		.half.right
			.adorable_table
				.adorable_cell
					.input
						input(type="email", name!="client[#{i}][email]", placeholder="E-mail друга")

block append content
	#success_message.message.inline_adorable_container
		.adorable
			div.message_top.adorable_table(class='green')
				.adorable_cell
					.label.novito_nova.white_font
					.top_label.non_uppercase.dark_font
			
			div.message_bottom.adorable_table(class='darkgreen')
				.adorable_cell
					button.middle_button.white.uppercase.bold.close(class='darkgreen_font') Вернуться на сайт
			
			div.close_button.close(class='darkgreen_font') &times;
	
	#error_message.message.inline_adorable_container
		.adorable
			div.message_top.adorable_table(class='red')
				.adorable_cell
					.label.novito_nova.white_font Ошибка
					.top_label.non_uppercase.dark_font
			
			div.message_bottom.adorable_table(class='darkred')
				.adorable_cell
					button.middle_button.white.uppercase.bold.close(class='darkred_font') Вернуться на сайт
			
			div.close_button.close(class='darkred_font') &times;
	
	#success.content
		include ../../../helpers/user/breadcrumbs/breadcrumbs
		
		.topper.blue.adorable_table
			.adorable_cell
				.label.novito_nova
					| Спасибо! Если вы успели попасть в первую 1000 зарегистрированных пользователей, мы скоро свяжемся с вами, чтобы уточнить детали доставки!
				
				.top_label.non_uppercase
					| Если вы не попали в первую 1000, но выиграли один из 500 разыгрываемых подарков,
					br
					| мы также с вами свяжемся :)
		
		.white
			.top_label.non_uppercase.adorable_table
				.adorable_cell
					| Среди ваших друзей есть молодые родители? Обрадуйте их! Отправьте им приглашение на сайт,
					br
					| чтоб и они получили подарок от ТМ «АГУША».
			
			.invite.centered
				img(src="/img/user/signup/invite.jpg")
		
			form#invite_form.footer.green(method="POST", action="/signup/invite")
				if invited_by
					input(type="hidden", name="invited_by", value="#{invited_by}")
				
				.inputs
					.content.border_boxed
						#client_container
							mixin add_client(0)
						
						.more.centered
							.top_label
								span#add_client Пригласить еще друзей
				
				.submit.darkgreen.adorable_table
					.adorable_cell
						button.white.darkgreen_font.middle_button.uppercase.bold(type="submit") Пригласить

block append scripts
	script(src="/js/plugins/can/can.js")
	script(src="/js/plugins/underscore/underscore-min.js")
	script(src="/js/plugins/placeholders/placeholders.min.js")
	script(src="/js/plugins/modal/jquery.easyModal.js")
	script(src="/js/plugins/validate/jquery.validate.js")
	script#add_client_tmpl(type='text/template')
		mixin add_client('<%=i%>')
	script(src="/js/user/signup/invite.js")
