extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/feeding_up/feeding_up.css")

mixin thead(header)
	.thead(class = header ? '' : 'tfooter')
		.td_left
			.adorable_table
				.adorable_cell Продукты<br>и блюда
		
		.td_right
			.td_right_content
				.td.term
					.adorable_table
						.adorable_cell Термин<br>введения
				
				.td.hoverable.6m(data-month=6)
					.adorable_table
						.adorable_cell 6 месяцев
				
				.td.hoverable.7m(data-month=7)
					.adorable_table
						.adorable_cell 7 месяцев
				
				.td.hoverable.8m(data-month=8)
					.adorable_table
						.adorable_cell 8 месяцев
				
				.td.hoverable.9m(data-month=9)
					.adorable_table
						.adorable_cell 9 месяцев
				
				.td.hoverable.10m(data-month=10)
					.adorable_table
						.adorable_cell 10 месяцев
				
				.td.hoverable.11m(data-month=11)
					.adorable_table
						.adorable_cell 11 месяцев
				
				.td.hoverable.12m(data-month=12)
					.adorable_table
						.adorable_cell 12 месяцев

block append content
	#feeding_up.content
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		.feeding_up_topper.adorable_table
			.adorable_cell
				.top_text Без проблем и с удовольствием!
				.label.novito_nova Как и когда переводить вашего Ням Нямыча<br>с пищи детской на пищу взрослую
		
		.feeding_up_table
			.table_topper.darkblue
				.label.novito_nova.half.left
					.adorable_table
						.adorable_cell Таблица введения прикорма
				
				.half.right
					.adorable_table
						.adorable_cell
							span Тип вскармливания
							select#feeding_up_select
								option(value='natural') Естетственное
								option(value='unnatural') Неестетственное
			
			mixin thead(true)
			
			.tbody
				- each f, k in feeding_up
					.tblock(id = 'table_' + k, class=(k == 'natural' ? 'active' : ''))
						- each item, j in f
							.tr
								.td_left.border_boxed
									.half.left
										.adorable_table
											.adorable_cell
												img.image.rounded(src=item.image)
									
									.half.right
										.adorable_table
											.adorable_cell !{item.product}
								
								.td_right
									.td_right_content
										.td.term
											.adorable_table
												.adorable_cell !{item.term}
										
										.td.hoverable.6m(data-month=6)
											.adorable_table
												.adorable_cell !{item['6m']}
										
										.td.hoverable.7m(data-month=7)
											.adorable_table
												.adorable_cell !{item['7m']}
										
										.td.hoverable.8m(data-month=8)
											.adorable_table
												.adorable_cell !{item['8m']}
										
										.td.hoverable.9m(data-month=9)
											.adorable_table
												.adorable_cell !{item['9m']}
										
										.td.hoverable.10m(data-month=10)
											.adorable_table
												.adorable_cell !{item['10m']}
										
										.td.hoverable.11m(data-month=11)
											.adorable_table
												.adorable_cell !{item['11m']}
										
										.td.hoverable.12m(data-month=12)
											.adorable_table
												.adorable_cell !{item['12m']}
			
			mixin thead(false)

block append scripts
	script(src="/js/plugins/can/can.js")
	script(src="/js/user/feeding_up/feeding_up.js")