extends ../layout

block append header
	//- link(href="/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css")
	link(href="/css/froala/font-awesome.min.css" rel="stylesheet" type="text/css")
	link(href="/css/froala/froala_editor.min.css" rel="stylesheet" type="text/css")
	style.
		.img-container {
			position: relative;
			height: 140px;
			width: 200px;
			float: left;
		}
		img.img-thumbnail {
			max-height: 140px;
			margin: 10px;
		}
		.removeImage {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.textarea, .froala-element {
			width: 100%;
			height: 200px;
			font-size: 14px;
			line-height: 18px;
			border: 1px solid #dddddd;
			padding: 10px;
		}

block append scripts
	script(src="/js/plugins/underscore/underscore-min.js")
	script(src="/js/froala/froala_editor.min.js")
	
	script.
		(function($) {
			var options = {
				inlineMode: false,
				buttons: [
					'undo',
					'redo' ,
					'bold',
					'italic',
					'sep',
					'alert',
					'clear',
					'insertHTML',
					'fontSize',
					'color',
					'strikeThrough',
					'align',
					'createLink',
					'insertImage'
				],
				imageUploadParam: 'file',
				imageUploadURL: '/admin/uploadWysi',
				imageButtons: ["linkImage", "replaceImage", "removeImage"],
				imageLink: true,
				imageUploadParams: {
					_id: '123'
				}
			};
			$('.sir1').editable(options)
			$('.sir2').editable(options)
		})($);

block content
	section.content
		.row
			.col-md-10
				.box.box-primary
					.box-header
						.box-title= "Редактирование новости"
					form(role="form" enctype="multipart/form-data" method="post" action="/admin/news")
						.box-body
							if news._id
								input(type="hidden" name="id" value=news._id)
							.form-group
								label(for="desc_title")= "Название:"
								input.form-control(type="text" name="desc_title" placeholder="Название статьи" value=news.desc_title)
							.form-group
								label(for="type")= "Тип:"
								select.form-control(name="type")
									option(value=0 selected=(news.type && news.type.id == 0))= "Новость"
									option(value=1 selected=(news.type && news.type.id == 1))= "Акция"
							.form-group
								.checkbox
									label
										if news.active == false
											input(type="checkbox" name="active")
										else
											input(type="checkbox" name="active" checked)
										span= " Активен?"

							.form-group
								label(for="desc_shorttext")= "Краткий текст описания:"
								textarea.sir1.textarea(
									name="desc_shorttext" 
									placeholder="Короткое описание статьи" 
								)= news.desc_shorttext

							.form-group
								label(for="desc_text")= "Текст описания:"
								textarea.sir2.textarea(
									name="desc_text" 
									placeholder="Текст описания статьи" 
								)= news.desc_text

							.form-group
								label(for="image")= "Изображение:"
								if news.image
									div
										img.img-thumbnail(src="/img/uploads/#{news.image}")
								input(type="file" name="image")

							.form-group
								label(for="desc_image")= "Изображения (может быть более одного):"
								input(type="file" name="desc_image" multiple)
								if news.desc_image
									each img in news.desc_image
										.img-container
											img.img-thumbnail.clearfix(src="/img/uploads/#{img}")
											a.t-removeImage(href="/admin/news/deleteimg/#{news._id}/#{img}")
												i.removeImage.glyphicon.glyphicon-remove
									.clearfix
								
						.box-footer
							button.btn.btn-primary(type="submit")= "Сохранить изменения"