extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/products/products.css")

block append content
	.content.force_height
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		.topper.blue.adorable_table
			.adorable_cell
				.top_label Cколько лет вашему малышу?
		
		.age_filter.white
			.age_block
				.adorable_table
					.adorable_cell
						div
							img(src="/img/user/products/products.png")
						div
							span Все продукты
			
			- var images = ['pacifier.png', 'bottle.png', 'duck.png', 'rattle.png', 'bear.png', 'cubes.png']
			- each a, key in ages
				.age_block(data-id='#{a._id}')
					.adorable_table
						.adorable_cell
							div
								- var src = '/img/user/products/' + images[key]
								img(src=src)
							div
								if a.level < 12
									- var age = 'мес.'
								else
									- var age = 'лет'
								span #{a.title} #{age}
		
		.category_filter
			.category_block
				.adorable_table
					.adorable_cell
						.show.novito_nova Показать:
			
			.category_block
				.adorable_table
					.adorable_cell
						span.choose_category.rounded.active Все
			
			.category_block
				.adorable_table
					.adorable_cell
						span.choose_category.rounded Соки
			
			.category_block
				.adorable_table
					.adorable_cell
						span.choose_category.rounded Творожки
			
			.category_block
				.adorable_table
					.adorable_cell
						span.choose_category.rounded Пюре
			
			.category_block
				.adorable_table
					.adorable_cell
						span.choose_category.rounded Молочные коктейли
		
		//.products_articles.white
			.half
				
			
			.half.text.border_boxed sddsffdsdsf sdfds fsdf sdf 
					
		
		.products_container.force_height
			- each p, key in products
				.product_block
					.image
						if p.image
							- var src = '/img/uploads/' + p.image
						else
							- var src = '/img/no_photo.png'
						img(src=src)
					
					.title.adorable_table
						.adorable_cell
							span #{p.title}
					
					.desc.adorable_table
						.adorable_cell
							span !{p.text}
					
					.info
						.half
							.adorable_table
								.adorable_cell
									.top #{p.volume}
									.bottom объем
						
						.half
							.adorable_table
								.adorable_cell
									.top #{p.age.title}
									if p.age.level < 12
										- var age = 'мес.'
									else
										- var age = 'лет'
									.bottom #{age}
			
block append scripts
	script(src="/js/user/products/products.js")