extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/products/products.css")

mixin product(p)
	a(href = '/product/' + (p ? p._id : '{{_id}}'))
		.product_block
			.image
				if p
					if p.image
						- var src = '/img/uploads/' + p.image
					else
						- var src = '/img/no_photo.png'
					img(src=src)
				else
					| {{#if image}}
					img(src="/img/uploads/{{image}}")
					| {{else}}
					img(src="/img/no_photo.png")
					| {{/if}}
			
			.title.adorable_table
				.adorable_cell
					span=(p ? p.title : '{{title}}')
			
			.desc.adorable_table
				.adorable_cell
					span!=(p ? p.text : '{{{text}}}')
			
			.info
				.half
					.adorable_table
						.adorable_cell
							.top=(p ? p.volume : '{{volume}}')
							.bottom объем
				
				.half
					.adorable_table
						.adorable_cell
							.top=(p ? p.age.title : '{{age.title}}')
							if p
								if p.age.level < 12
									- var age = 'мес.'
								else
									- var age = 'лет'
								.bottom #{age}
							else
								.bottom
									| {{#ageLevel}}
									| мес.
									| {{else}}
									| лет
									| {{/ageLevel}}

mixin products_stache()
	| {{#each products}}
	mixin product()
	| {{/each}}

block append content
	#products.content.force_height
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		.topper.blue.adorable_table
			.adorable_cell
				.top_label Cколько лет вашему малышу?
		
		.age_filter.darkblue
			.age_block(class=(params.age ? '' : 'active'))
				.adorable_table
					.adorable_cell
						div.image_container
							img(src="/img/user/products/products.png")
						div
							span Все продукты
			
			- each a, key in ages
				.age_block(data-level=a.level, class=(a.level == params.age ? 'active' : ''))
					.adorable_table
						.adorable_cell
							div.image_container
								- var src = '/img/uploads/' + a.icon
								img(src=src)
							div
								if a.level < 12
									- var age = 'мес.'
								else
									- var age = 'лет'
								span #{a.title} #{age}
		
		.category_filter
			.category_block
				.adorable_table
					.adorable_cell
						.show.novito_nova Показать:
			
			.category_block
				.adorable_table
					.adorable_cell
						span.choose_category.rounded(class=(params.category ? '' : 'active')) Все
			
			- each c, key in categories
				.category_block
					.adorable_table
						.adorable_cell
							span.choose_category.rounded(data-category=c.url_label, class=(c.url_label == params.category ? 'active' : '')) #{c.name}
		
		#products_articles.white(class=(params.category ? 'active' : ''))
			- each a, key in ages
				.products_article(id = 'age_' + a.level, class=(key == 0 ? 'active' : ''))
					.half.left
						.article_image(style = a.desc_image ? 'background-image: url(/img/uploads/' + a.desc_image + ')' : '')
						.text.border_boxed
							.desc_subtitle #{a.desc_subtitle}
							.desc_title.label.novito_nova #{a.desc_title}
					
					.half.right
						.text.border_boxed !{a.desc_text}
			
			.minimize.top_label
				span.minimize_button.rounded
				span.minimize_title
		
		#products_container.force_height
			- each p, key in products
				mixin product(p)

block append scripts
	script(src="/js/plugins/can/can.js")
	script.
		var products = !{JSON.stringify(products)};
	script#products_tmpl(type="text/mustache")
		mixin products_stache()
	script(src="/js/user/products/products.js")